<div class="container">
	<h2>User Accounts <a href="/users/new" title="Add New"><img src="plus-icon.png"></a></h2>
	<table class="table">
	<th>ID</th><th>Name</th><th>Email</th><th>Full Name</th><th>Password</th><th>Token</th><th>Verified</th><th>Action</th>
	<tbody>
	  <% @users.each do |user| %>
      <tr>
  		<td><%= user.id %></td><td><a href="/users/<%= user.id %>"><%= user.username %></a></td><td><%= user.email %></td>
  		<td><%= user.first_name+" "+ user.last_name %></td><td><%= user.password_digest %></td>
  		<td><%= user.token %></td><td><%= user.verified %></td>
  		<td><a href="/users/<%= user.id %>/edit">Edit</a></td>		
  	  </tr>
    <% end %>
  </tbody>  
  </table>	
</div>