 <h2>User Profile</h2>
 <div style ="padding-bottom: 10px"><button><a href="/users/<%= @user.id %>/edit">Edit</a></button></div>
 <table class="table">
    <tr><td>ID : </td><td><%= @user.id %></td></tr>	
    <tr><td>Name : </td><td><%= @user.username %></td></tr>
    <tr><td>Email : </td><td><%= @user.email %></td></tr>
    <tr><td>First Name : </td><td><%= @user.first_name %></td></tr>
    <tr><td>Last Name : </td><td><%= @user.last_name %></td></tr>        
  </table>
  <hr>