<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= ENV['PROJECT_TITLE'] %></title>

  <link rel="stylesheet" type="text/css" href="<%= asset_path 'layout.css' %>">
  <link rel="stylesheet" type="text/css" href="<%= asset_path 'bootstrap.css' %>">
  <script src="<%= asset_path 'layout.js' %>"></script>
  

  <%= yield_content :head %>
</head>
<body>
  <div class="container">
	  <h1><%= ENV['PROJECT_TITLE'] %></h1>
      <%= partial 'layouts/flash_messages' %>	
      <%= yield %> 
      <hr>
   </div>	  
  <script src="<%= asset_path 'bootstrap.min.js' %>"></script>
</body>
</html>